{% extends "crud/base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>CV</td>
            <td>
                <a href="{% url 'insert_data' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for data in list_data %}
            <tr>
                <td>{{data.first_name}}</td>
                <td>{{data.last_name}}</td>
                <td>{{data.email}}</td>
                <td><a href="{{ data.upload.url }}" class="btn btn-primary btn-sm" target="_blank">View CV</a>
                </td>
                <td>
                    <a href="{% url 'update_data' data.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'delete_data' data.id %}" method="POST" class="d-inline">
                        {%csrf_token%}
                        <button type="submit", class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}