{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 mb-3">
        <h4 class="text-center"> Welcome {{ user.username }} </h4>
        <a href="{% url 'account_logout' %}" class="btn btn-primary">Logout</a>
        <!-- <p>You're logged in with {{ user.get_provider }} as {{ user }}.</p> -->
        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
        <h4>{{ user.socialaccount_set.all.0.extra_data.name }}</h4>
        {{name}} {{last_name}}
    </div>
</div>
{% endblock %}